.site-topbar{
    height: 40px;
    background-color: #333333;
    font-size: 12px;
    line-height: 40px;
}
.site-topbar  a{
    color: #b0b0b0;
}
.site-topbar .topbar-nav>ul>li{
   
    float: left;
    margin-right: 15px;
}
.site-topbar .topbar-nav>ul>li>a:hover{
    color: #fff;
}
/* 小箭头 */
.site-topbar .topbar-nav>ul>li.submenu{
    position: relative;
    padding-right: 14px;
}
.site-topbar .topbar-nav>ul>li.submenu::after{
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    content: '';
    width: 5px;
    height: 5px;
    /* background-color: rgb(45, 42, 255); */
    border-right: 2px solid #b0b0b0;
    border-bottom: 2px solid #b0b0b0;
    transform: translateY(-4px) rotate(45deg);
    transition: transform .3 ease;
}
.site-topbar .topbar-nav>ul>li.submenu:hover::after{
    transform: rotate(225deg);
    border-color: #fff;
}
/* 实心三角形 */
.site-topbar .topbar-nav>ul>li.active::before{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -4px;
    display: none;
    content: '';
    width: 0;
    height: 0;
    border: 8px solid transparent;
 border-bottom: 8px solid #fff;
}
.site-topbar .topbar-nav>ul>li.active:hover::before{
    display: block;
}
.topbar-nav>ul>li.active .submenu-list{
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -52.5px;
    z-index: 999;
    overflow: hidden;
    width: 105px;
    height: 0;
    background-color: #fff;
    /* background-color: cadetblue; */
    box-sizing: border-box;
    padding: 0 6px;
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.3000);
    transition: height 0.3s ease;
}
.topbar-nav>ul>li.active .submenu-list>ul>li>a{
    display: block;
    height: 30px;
    line-height: 30px;
}
.site-topbar .topbar-nav>ul>li.active:hover .submenu-list{
   
    display: block;
    height: 150px;

}
.site-topbar .topbar-nav>ul>li.active .submenu-list ul>li>a:hover{
    color: #FF6A00;
}

.topbar-nav>ul>li.active .submenu-list img{
    vertical-align: middle;
width: 16px;
height: 16px;
}
.topbar-nav>ul>li.active .submenu-code{
    position: absolute;
  top: 40px;
    left: 50%;
    z-index: 999;
    margin-left: -62px;
    display: block;
    width: 124px;
    /* height: 148px; */
    height: 0;
    background-color: #fff;
    /* 解决margin垂直方向塌陷 */
    overflow: hidden;
    box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.3000);
    transition: height 0.3s ease;
}
.topbar-nav>ul>li.active .submenu-code a{
    display: block;
    width: 100%;
    height: 100%;
}
.site-topbar .topbar-nav>ul>li.active:hover .submenu-code{
    height: 148px;
}
.topbar-nav>ul>li.active .submenu-code a img{
    display: block;
    width: 87px;
    height: 87px;
    margin: 17px 18px 0;
    
}
.topbar-nav>ul>li.active .submenu-code a>p{
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 14px;
    color: #333333;
}
.site-topbar .topbar-info {
    float: right;
}
.site-topbar .topbar-info >a:hover{
color: #fff;
}
.site-topbar .topbar-info a{
    margin-right: 12px;
}
.site-topbar .topbar-cart{
    float: right;
    position: relative;
}
.site-topbar .topbar-cart .cart-mini{
    display: block;
    height: 40px;
    padding: 0 24px 0 20px;
    background-color: #424242;
  

}
.site-topbar .topbar-cart .cart-mini:hover{
    color: #FF6A00;
    background-color: #fff;
}
.site-topbar .topbar-cart .cart-mini>i{
    vertical-align: middle;
    margin-right: 7px;
    margin-left: 3px;
}

.topbar-cart .cart-mini .car-minit-item{
    position: absolute;
    top: 40px;
    right: 0;
    width: 316px;
    z-index: 999;
    height: 0;
    /* height: 100px; */
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 30%);
    transition: height 0.3s ease;
}
.topbar-cart .cart-mini .car-minit-item>p{
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #333333;
    font-weight: 400;
    font-size: 12px;
}
.site-topbar .topbar-cart .cart-mini:hover .car-minit-item{
    height: 100px;
}
/* end site-topbar */

/* site-header start */
.site-header{
    height: 100px;
    background-color: #fff;
    overflow: hidden;
}
.site-header .header-logo{
    float: left;
}

/* header-logo start  */
.site-header .header-logo h1>a{
    margin-top: 23px;
    display: block;
    width: 48px;
    height: 56px;
}
/* 点击logo出现放大缩小效果 */
.site-header .header-logo h1>a:active{
    transform: scale(0.67);
}
.site-header .header-logo h1>a img{
    width: 100%;
    height: 100%;
}
/* end header-logo */

/* header-nav start */
.site-header .header-nav{
    float: left;
}
.site-header .header-nav .nav-list{
    margin-left: 194px;
}
.site-header .header-nav .nav-list>li{
    float: left;
    line-height: 100px;
    margin: 0 10px;
}
.site-header .header-nav .nav-list>li>a{
    color: #333333;
    font-size: 16px;
}
.site-header .header-nav .nav-list>li>a:hover{
    color: #FF6A00;
}
/* end header-nav */

/* header-search start */

.site-header .header-search{
    position: relative;
    float: right;
    width: 297px;
    height: 50px;
    margin-top: 25px;
    /* background-color: aqua; */
}
.site-header .header-search .search-txt{
    width: 245px;
    height: 50px;
    line-height: 50;
    border: 1px solid #e0e0e0e0;
    border-right: none;
    font-size: 14px;
    color: #000;
    text-indent: 12px ;
    box-sizing: border-box;
}
 .site-header .header-search .header-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 52px;
    height: 50px;
    border: 1px solid #e0e0e0e0;
    box-sizing: border-box;

 }
 .site-header .header-search .header-btn:hover{
    background-color: #FF6A00;
    color: #fff;
 }
 .site-header .header-search .header-btn i{
    display: block;
    width: 52px;
    height: 50px;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    color: #b0b0b0;
 }
 /* 鼠标经过边框颜色变化 */
 .site-header .header-search:hover .search-txt{
    border: 1px solid #9c9c9ce0;
    border-right: none;
 }
 .site-header .header-search:hover .header-btn{
    border: 1px solid #9c9c9ce0;
 }
 .site-header .header-search .header-btn i:hover{
    color: #fff;
 }
 /* 点击获取焦点时，边框样式停留 */
 .site-header .header-search .search-txt:focus{
    border: 1px solid #FF6A00;;
 }
 /* 相邻兄弟选择器 */
 .site-header .header-search .search-txt:focus+ .header-btn{
    border: 1px solid #FF6A00;;

 }
 /* end  header-search   */

 .focus-slider{
    position: relative;
    
 }
 /* end category-list */

.focus-slider .category{
    position: absolute;
    top: 0;
    left: 0;
    width: 234px;
    height: 460px;
    background-color: rgb(0, 0, 0,.7);
    font-size: 14px;
    padding-top: 19px;
    box-sizing: border-box;
    z-index: 2;
    
    /* overflow: hidden; */
}
.focus-slider .category>ul>li>a{
    display: block;
    height: 42px;
    line-height: 42px;
    color: #fff;
    box-sizing: border-box;
    padding-left: 29px;
}
.focus-slider .category>ul>li>a:hover{
    background-color: #FF6A00;
}
.focus-slider .category>ul>li>a i{
    position: absolute;
    right: 23px;
    font-size: 14px;
}
/* category-list start  */
.focus-slider .category>ul>li .category-list{
    position: absolute;
    top: 0;
    left: 234px;
    width: 992px;
    height: 460px;
    background-color: #fff;
    font-size: 14px;
    text-align: left;
    color: #fff;
    text-align: center;
    /* display: block; */
    display: none;
    z-index: 2;
 }
 .focus-slider .category>ul>li:hover .category-list{
    display: block;
 }
 .category-list>ul>li{
   
    float: left;
 }
 .category-list>ul>li>a{
    position: relative;
    display: block;
    /* width: 248px; */
    width: 223px;
    height: 38px;
    color: #333;
    line-height: 38px;
    margin: 20px 0;
    margin-left: 25px;
    text-align: left;
    /* background-color: #FF6A00; */
 }
 .category-list>ul>li>a:hover{
    color: #FF6A00;
 }
 .category-list>ul>li>a img{
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 29px;
    height: 38px;
    vertical-align: middle;
 }
 .category-list>ul>li>a .category-list-title{
    display: inline-block;
    text-indent: 47px;
 }
 /* category start */

 /* swiper satrt  */

 .focus-slider .swiper{
    
    width: 1226px;
    height: 460px;
    background-color: antiquewhite;
 }
 .focus-slider .swiper img{
    width: 100%;
 }
.swiper-button-prev{
    left: 244px;
    color: transparent;
    background-position: -82px 0;
}
.swiper-button-prev:hover{
    background-position: 0 0;
}
.swiper-button-next{
    color: transparent;
    background-position: -123px 0;
    
}
.swiper-button-next:hover{
    background-position: -41px 0;
}
.swiper-botton{
    width: 41px;
    height: 69px;   
    background-image: url(../images/jiantou.png);  
} 
.swiper-pagination{
    text-align: right;
    padding-right: 34px;
    box-sizing: border-box;
}
.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #e1e1e1;
}
.swiper-pagination-bullet-active{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #4d4d4d;
    background-color: #4d4d4d;
}
 /* swiper end  */

 /* recommend start  */
.recommend{
    width: 100%;
    height: 624px;
    background-color: #F7F7F7;
    margin: 26px 0 34px 0;
    overflow: hidden;
}
.recommend .banner{
    width: 1226px;
    height: 120px;
    margin: 26px auto 48px;

}
.recommend .banner a>img{
    width: 100%;  
}

.music-con .music-title {
    height: 32px;
    text-align: center;
    color: #333;
    font-size: 32px;
}
.music-con .music-tab{
    margin: 34px 0 38px;
    margin-left: 289px ;
}
.music-con .music-tab>a.active{
    color: #31C27C;
}
.music-con .music-tab>a{
    display: inline-block;
    margin: 0 28px ;
    /* background-color: cadetblue; */
    text-align: center;
    color:#333 ;
    font-size: 16px;
}
.music-con .music-tab>a:hover{
    color: #31C27C;
}

.music-con .music-item>ul>li{
    float: left;
    margin-right: 26px;
    /* position: relative; */
}
.music-item>ul{
    padding-bottom: 36px;
}
.music-con .music-item>ul>li:last-child{
    margin-right: 0;
}
.music-con .music-item>ul>li>a{
    display: block;
/* width: 224px; */

}
/* m-item-img start  */
.music-con .music-item .m-item-img{
    position: relative;
    width: 224px;
    height: 224px;
    overflow: hidden;
}
.music-con .music-item>ul>li>a .m-item-img>img{
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform .4s ease;
}
/* 鼠标经过图片放大 */
.music-con .music-item>ul>li>a:hover .m-item-img>img{
    transform: scale(1.5);
}
/* 遮罩模块 */
.music-item>ul>li>a .m-item-img .m-mask{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 224px;
    height: 224px;
    background-color: rgb(0, 0, 0,0);
    transition: background-color .4s ease;
}
.music-con .music-item>ul>li>a:hover .m-mask{
    background-color: rgb(0, 0, 0,.3);

}
.music-item>ul>li>a .m-item-img .m-play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32.5px;
    margin-left: -32.5px;
    display: block;
    width: 65px;
    height: 65px;
   transform: scale(0);
   transition: transform .4s ease;
}
.music-con .music-item>ul>li>a:hover .m-item-img .m-play-btn{
    transform: scale(1);
}
.music-item>ul>li>a .m-item-img .m-play-btn>img{
    width: 100%;
    height: 100%;
}
/* end m-item-img */
.music-item>ul>li>a .m-title{
    width: 224px;
    color: #333;
    font-size: 14px;
    text-align: left;
    white-space: no-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 14px;
    margin-bottom: 8px;

}
.music-item>ul>li>a .m-play-num{
    display: block;
    color: #999999;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
   

}
 /* end recommend */

 /* playground start  */
.playground{
    overflow: hidden;
    margin-top: 34px;
}
.play-header .play-title{
    float: left;
    width: 826px;
    margin-bottom: 33px;
}
.play-header .play-title .h2-title{
    height: 25px;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 800;
}
.play-header .play-more{
    float: right;
    width: 118px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    margin-top: 12px;

}
.play-header .play-more>a{
    display: block;
    color: #333;
    border: 1px solid #BABABA;
    border-radius: 59px;
}
.play-header .play-more>a:hover{
    border: 1px solid #333;
}
.play-header .play-more{
    margin-bottom: 33px;
}

/* play-con start  */
.play-con{
    margin-bottom: 40px;
}
.play-l,.play-m,.play-r{
    float: left;
}
.play-m{
    margin: 0 13px;
}
.play-m,.play-r{
    width: 295px;
    height: 715px;
    /* border: 1px solid #000; */
}
.play-l{
    position: relative;
    width: 610px;
    height: 715px;
    /* border: 1px solid #000; */
    background: url(../images/play-con1.png);
    background-size: cover;
}
.play-m .play-m-1{
    position: relative;
    width: 295px;
    height: 295px;
    margin-bottom: 20px;
    /* border: 1px solid red; */
    background: url(../images/play-con2.png);
    background-size: cover;
}
.play-m:hover .dot,.play-l:hover .dot,.play-r:hover .dot{
    display: block;
}
.play-m .play-m-2{
    position: relative;
    width: 295px;
    height: 400px;
    /* border: 1px solid red; */
    background: url(../images/play-con3.png);
    background-size: cover;
}
.play-r .play-r-1{
    margin-bottom: 20px;
    width: 295px;
    height: 400px;
    /* border: 1px solid red; */
    background: url(../images/play-con4.png);
    background-size: cover;
}
.play-r .play-r-2{
    width: 295px;
    height: 295px;
    /* border: 1px solid red; */
    background: url(../images/play-con5.png);
    background-size: cover;
}
.dot{
    position: absolute;
    display: block;
    width: 42px;
    height: 32px;
    color: #333;
    display: none;
}
.dot::before{
    position: absolute;
    top: 11px;
    left: 11px;
    z-index: 2;
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%;
    transition: transform 0.3s ease;
}
.dot::after{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 50%;
    border: 1px solid transparent;
    transition: transform 0.3s ease;
}
.dot:hover::after{
    transform: scale(0.8);
    border: 1px solid #fff;
}
.dot:hover::before{
    transform: scale(0.8);
}
.dot1{
    top: 249px;
    left: 248px;
}
.dot2{
    top: 359px;
    left: 128px;
}
.dot3{
    top:460px;
    left: 71px;
}
.dot4{
    top:152px;
    left: 52px;
}
.dot5{
    top:284px;
    left: 80px;
}
.dot-tips{
    position: absolute;
    display: none;
    top: -28.5px;
    left: 42px;
    width: 150px;
    padding: 10px;
    background-color: #fff;
}
.dot:hover .dot-tips{
    display: block;
}
.dot-tips h3{
   font-weight: 700;
}
.dot-tips p{
    margin: 5px 0 8px;
    height: 14px;
}
.dot-tips span{
    display: block;
    height: 20px;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
}
.dot-tips span em{
    font-size: 12px;
}
/* end play-con */

 /* end playground */

/* video start  */
.video{
    background-color: #F8F8F8;
    overflow: hidden;
    padding-bottom: 51px;
}
.video .video-header{
    height: 28px;
    margin: 34px 0 33px;
}
.video .video-header h2{
    text-align: center;
    height: 28px;
    line-height: 28px;
    font-size: 28px;
    font-weight: bold;
}
/* video-con start  */
.video-con ul li{
    float: left;
    width: 303px;
    height: 245px;
    margin-right: 4px;
    margin-bottom: 5px;
}
.video-con ul li:nth-child(4n){
    margin-right: 0;
}
.video-con ul li>a{
    position: relative;
    display: block;
    color: #000;
    width: 303px;
    height: 245px;
    transition: box-shadow 0.5s ease;
}
.video-con ul li>a:hover{
    box-shadow: 5px 5px 10px #ddd;
}
.video-con ul li>a p{
    font-style: 16px;
    width: 303px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background-color: #fff;
}
.video-con ul li>a .video-play{
    position: absolute;
    top: 145px;
    right: 14px;
    width: 30px;
    height: 30px;
    background: url(../images/video-play.png) no-repeat;
    background-size: cover;
}
/* end video-con */
/* end video  */

/* v-mask start  */
.v-mask{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgb(0, 0, 0,.3);
}
.mask-video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mask-video .close-btn{
    position: absolute;
    right: -15px;
    top: -15px;
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #000;
    background-color: rgb(234, 234, 234);
    border-radius: 50%;
}
.mask-video .close-btn:hover{
    cursor: pointer;
    background-color: #fff;
}
/* end v-mask */

/* mall start  */
/* mall-header start  */
.mall-header{
    position: relative;
    margin: 36px 0 44px 0;
}
.mall-header .mall-hd-title{
    height: 34px;
    line-height: 34px;
    font-size: 34px;
    text-align: center;
}
.mall-hd-title::after{
    position: absolute;
    left: 597px;
    bottom: -12px;
    display: block;
    content: '';
    width: 30px;
    height: 2px;
    background-color: #C7000B;
}
/* end mall-header */

.mall-con ul>li{
    position: relative;
    float: left;
    margin-right: 13px;
    margin-bottom: 30px;
    overflow: hidden;
}
.mall-con ul>li:nth-child(3n){
    margin-right: 0;
}
.mall-con ul>li>a{
    display: block;
    color: #fff;
}
.mall-con ul>li a img{
    display: block;
    transform: scale(1);
    transition: transform 0.5s ease;
}
/* 图片放大效果 */
.mall-con ul>li a:hover img{
    transform: scale(1.2);
}
.mall-info{
    position: absolute;
    bottom: -18px;
    left: 20px;
    z-index: 2;
    /* width: 170px; */
     /* background-color: rgb(191, 191, 255); */
     transition: bottom 0.5s ease;
}
.mall-con ul>li a:hover .mall-info{
    bottom: 30px;
}
.mall-title{
    font-size: 20px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin: 8px 0 10px 0;
}
.mall-more{
    margin-top: 12px;
}
.mall-more i{
    margin-left: 11px;
    color: #C70318;
    font-size: 12px;
    transition: margin-left 0.3s ease;
}
.mall-more:hover i{
    margin-left: 20px;
}
/* mall遮罩层 */
.mall-mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 320px;
    background-color: rgb(0, 0, 0,0);
    transition: background-color .5s ease;
}
.mall-con ul>li a:hover .mall-mask{
    background-color: rgb(0, 0, 0,.3);

}
/* end mall */

/* accordion start  */
.accordion{
    padding-bottom: 40px;
    overflow: hidden;
    background-color: #F8F8F8;
}
.accordion .accor-title{
  text-align: center;
    margin: 51px 0 44px 0;
}
.accordion .accor-title>img{
    margin: 0 auto;
}
.accordion ul>li{
    position: relative;
    overflow: hidden;
    float: left;
    width: 172px;
    height: 270px;
    transition: width 0.5s ease;
}
.accordion ul .acc-current:hover{
    width: 361px;
}
.accordion ul .acc-current{
    width: 361px;
}
.accordion ul>li>a{
    width: 100%;
    height: 100%;
    display: block;
}

.accordion ul>li>a img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.accordion-Bullet{
    position: absolute;
    bottom: -75px;
    left: 0;
    width: 100%;
    height: 17px;
    line-height: 17px;
    padding: 39px 0 19px 0;
    color: #fff;
    font-size: 16px;
    text-indent: 13px;
    font-weight: normal;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.7) 90%,rgba(0,0,0,0));
    transition: bottom 0.5s ease;
}
.accordion ul>li>a:hover .accordion-Bullet{
bottom: 0;

}
/* end accordion */

/* footer start  */
.footer{
    overflow: hidden;
    margin-top: 60px;
}
.footer-service{
    padding-bottom: 31px;
    margin-bottom: 40px;
    border-bottom: 1px solid #E0E0E0;
}
.footer-service ul>li{
    float: left;
    height: 25px;
    line-height: 25px;
    border-left: 1px solid #E0E0E0;
}
.footer-service ul>li:first-child{
    border-left:none;
}
.footer-service ul>li a{
    font-size: 16px;
    font-weight: bold;
    color: #616161;
    display: block;
    padding: 0 57px;

}
.footer-service ul>li a>i{
    font-size: 20px;
    vertical-align: 1-2px;
}
/* footer-links start  */
.footer-links{
margin-bottom: 31px;
}
.footer-links dl{
    float: left;
    width: 160px;
    /* margin-left: 104px; */
}
.footer-links dl:first-child{
    margin-left: 154px;
}
.footer-links dl>dt{
    margin-bottom: 32px;
      color: #424242;
      font-weight: bold;
}
.footer-links dl dd {
    margin-bottom: 15px;
}
.footer-links dl dd a{
    font-size: 12px;
    color: #757575;
}
.footer-links dl dd a:hover{
    color: #FF6700;
}
/* end footer-links */

/* footer-contact start  */
.footer-contact{
    float: left;
    width: 180px;
    padding-left: 58px;
    border-left: 1px solid #E0E0E0;
}
.footer-contact .phone{
    font-size: 22px;
    color: #FF6700;
}
.footer-contact p{
    margin: 11px 0 9px 0;
    font-size: 12px; 
}
.footer-contact p>span{
    color: #FF6700;
}
.footer-contact>a{
    display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    color: #FF6700;
    font-size: 12px;
    text-align: center;
    border: 1px solid #FF6700;;
    transition: background-color 0.5s ease;
}
.footer-contact>a:hover{
    color: #fff;
background-color: #FF6700;
}
.footer-contact>a i{
    vertical-align: middle;
}

/* end footer-contact */

/* copyright start  */
.copyright{
    margin-bottom: 10px;
    text-align: center;
}
.copyright a{
    font-size: 16px;
    font-weight: bold;
    color: #424242;
}
/* end copyright */
/* end footer */

/* sidebar start  */
/* 侧边导航栏 */
.sidebar{
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -175px;
    z-index: 999;
    /* width: 5px; */
    background-color: #fff;
    height: 100%;
    transition: background-color 0.5s ease;
}
.sidebar ul>li{

    width: 85px;
    height: 85px;
    
    /* line-height: 85px; */
}
.sidebar ul>li:last-child{
    margin-top: 20px;
    background-color: #DDDDDD;
}
.sidebar ul>li>a{
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 13px 0 18px 0;
    color: #484848;
    text-align: center;
}
.sidebar ul>li>a:hover{
    background-color: #e9e9e9;
}
.sidebar ul>li>a i{
    display: block;
    font-size: 24px;
   /* margin-top: 10px; */
   margin-bottom: 8px;
}
.sidebar ul>li>a:hover i{
color: #000;
}
.sidebar ul>li>a p{
    height: 14px;
    line-height: 14px;
    /* margin: 10px 0; */
   
}
/* end sidebar */

/* stairs-nav start  */
/* 楼梯导航 */
.stairs-nav{
    position: fixed;
    top: 70px;
    left: 0;
    z-index: 9999;
    /* background-color: aqua; */
}
.stairs-nav>ul li .stars-active{
    background-color: #3F3D3D;
    color: #fff;
}
.stairs-nav>ul li a{
    display: block;
    box-sizing: border-box;
    padding: 5px 8px;
    width: 60px;
    color: #666666;
    text-align: center;
    border: 1px solid #E4E4E4;
    transition:  background-color .5s ease;
}
.stairs-nav>ul li a:hover{
    color: #fff;
    background-color: #FF6700;
}
.stairs-nav>ul li a span{
    display: block;
    font-size: 18px;
    color: #FF6700;
}
.stairs-nav>ul li a:hover span{
    color: #fff;
}
/* end stairs-nav */

/* swiper1 start  */
.swiper1 .swiper-wrapper {
    float: left;
    margin-top: 33px;
    /* margin-bottom: 21px; */
  }
  .swiper1 {
    position: relative;
    margin: 0 auto;
    width: 1226px;
    height: 500px;
    overflow: hidden;
    background-color: #e9e9e9;
  }
  .swiper1 .swiper-slide:nth-child(1) {
    width: 268px !important;
    height: 400px;
  }
  .swiper1 .swiper-slide:nth-child(2) {
    width: 233px !important;
    /* height: 233px; */
  }
  .swiper1 img {
    display: block;
  }
  .swiper1 .swiper-slide {
    margin-right: 1px;
  }
  .swiper1 .swiper-slide:nth-child(3) {
    margin-right: 0;
    width: 458px !important;
  }
  .swiper1 .swiper-slide:nth-child(3) img {
    margin-right: 1px;
    float: left;
  }
  .swiper1 .swiper-slide:nth-child(3) img:nth-child(2n) {
    margin-right: 0;
  }
  .pet {
    float: left;
    text-align: center;
    width: 188px;
    height: 132px;
    color: #fff;
    line-height: 132.2px;
    background-color: #ea9e4d;
    font-size: 32px;
  }
  .swiper1 .swiper-slide:nth-child(4) {
    width: 265px !important;
  }
  .swiper-container-horizontal > .swiper-scrollbar {
    width: 1000px;
    height: 20px;
    bottom: 22px;
    left: 113px;
  }
  .swiper-scrollbar {
    background-color: #d8e4eb;
  }
  .swiper-scrollbar-drag {
    width: 80px !important;
    background-color: #fff;
  }

  /* end swiper1  */